.bg-dark-me {
  background-color: #dbd3d8 !important;
}

.text-primary-me {
  color: #754043 !important;
}
.text-secondary-me {
  color: #223843 !important;
}
.text-orange-me {
  color: #008dd5 !important;
}

#main-container {
  height: 100vh;
}
#typewriter-container h2 span.cursor {
  display: inline-block;
  background-color: #754043;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 0.5s infinite;
}

#typewriter-container h2 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #754043;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: #754043;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #754043;
  }
}
.btn-outline-secondary-me {
  color: #754043;
  border-color: #6c757d;
  transition: 0.3s;
}
.btn-outline-secondary-me:hover {
  color: #754043;
  background-color: #dbd3d8;
  border-color: #6c757d;
}
.btn-zoom-me:hover {
  padding: 1.5rem 3rem;
  font-size: 1.75rem;
}
